In [3]:
import pandas as pd

In [12]:
df = pd.read_excel('sample.xls', index_col=1)

In [13]:
df

             user name  user age    user profession
user surname
Kachur          Nikita        27  Software Engineer